body {      
  background: #EEE;
}

a {
  text-decoration:none;
}
h1 {
  color: #222222;
  font-family: 'Roboto', bold;
  font-size: 64px;
  text-shadow: #AAAAAA 0px 0px 10px;
  margin: 5px;
  text-decoration:none;
}
h2 {
  color: #222222;
  font-family: 'Roboto', bold;
  font-size: 32px;
  text-shadow: #AAAAAA 0px 0px 10px;
  margin: 5px;
  text-decoration:none;
}

table.active {
    display: inline;
    border-width: 5px;
    border-style: ridge;
    background-color: #52D017;
    font-family: monospace;
    font-weight: bold;
    width: 100%;
    text-align: center;
}
table.inactive {
    display: inline;
	border-width: 5px;
	border-style: ridge;
	background-color: #E42217;
    font-family: monospace;
    font-weight: bold;
    width: 100%;
    text-align: center;
}
table.gdlVersion {
    display: inline;
	border-width: 5px;
	border-style: ridge;
	background-color: #56A5EC;
    font-family: monospace;
    font-weight: bold;
    width: 100%;
    text-align: center;
}
table.player {
    border-width: 5px;
    border-style: ridge;
    width: 450px;
    margin: 5px;
}
table.matchlist {
  border:1px solid #cccccc;
  border-collapse:collapse;
}
th.padded {
  padding-left: 10px;
}
td.padded {
  padding-left: 10px;
}
td.imageHolder {
  padding: 0px;
}
th.imageHolder {
  padding: 0px;
}

tr.navbarTop {
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.24, rgb(160,160,160)),
    color-stop(0.81, rgb(130,130,130))
  );
  background-image: -moz-linear-gradient(
    center bottom,
    rgb(160,160,160) 24%,
    rgb(130,130,130) 81%
  );
}
tr.navbarBottom {
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.24, rgb(255,255,255)),
    color-stop(0.81, rgb(160,160,160))
  );
  background-image: -moz-linear-gradient(
    center bottom,
    rgb(255,255,255) 24%,
    rgb(160,160,160) 81%
  );
}
td.navbarBottomAbrupt {
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.24, #E6E6E6),
    color-stop(0.81, rgb(160,160,160))
  );
  background-image: -moz-linear-gradient(
    center bottom,
    #E6E6E6 24%,
    rgb(160,160,160) 81%
  );
}

@media (min-width: 1265px) {
  div.major_left {
    padding-left: 5px;
    min-width: 600px;
    float: left;
  }
  div.major_right {
    padding-left: 5px;
    padding-right: 5px;
    width: 650px;
    float: right;
  }
}
@media (max-width: 1265px) {
  div.major_right {
    padding-top: 20px;
  }
}