<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>GGP_Apollo</servlet-name>
		<servlet-class>ggp.apollo.GGP_ApolloServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GGP_Apollo</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
    <security-constraint>
        <web-resource-collection>
            <url-pattern>/cron/*</url-pattern>
            <url-pattern>/tasks/*</url-pattern>
            <url-pattern>/mapreduce/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
    
    <servlet>
        <servlet-name>ProdEagle</servlet-name>
        <servlet-class>com.prodeagle.java.servlets.HarvestHandler</servlet-class>
	</servlet>
	<servlet-mapping>
        <servlet-name>ProdEagle</servlet-name>
        <url-pattern>/prodeagle/*</url-pattern>
	</servlet-mapping>    
    
    <servlet>
      <servlet-name>mapreduce</servlet-name>
      <servlet-class>com.google.appengine.tools.mapreduce.MapReduceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>mapreduce</servlet-name>
      <url-pattern>/mapreduce/*</url-pattern>
    </servlet-mapping>
</web-app>